body{
    background-image: url(../img/food.webp);
    margin: 0;
}

header {
    background: lightgreen;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.container {
    width: 85%;
    margin: 0 auto;
}

section {
    float: left;
    width: 70%;
    margin-bottom: 100px;
}

aside {
    float: right;
    border-style: dashed;
    background: orange;
    padding: 20px;
}

footer{
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: #f2c00a;
}

h2 {
    text-align: center;
}

.salmon,
.potato-soup,
.green-beans{
    height: 300px;
    width: auto;
}

li {
    text-align: left;
}

.foodimg {
    margin-left: 125px;
    height: 300px;
    width: auto;
}

h1 {
    text-align: center;
}

a:hover {
    color: white;
}

p {
    margin-left: 125px;
}

h3 {
    color: purple;
}