body{
    background-image: url(../img/food.webp);
    margin: 0;
}

header {
    background: lightgreen;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.container {
    width: 85%;
    margin: 0 auto;
}

section {
    float: left;
    width: 70%;
    margin-bottom: 100px;
}

aside {
    float: right;
    border-style: dashed;
    background: orange;
}

footer{
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: white;
}

h2 {
    text-align: center;
}

.salmon{
    height: 300px;
    width: auto;
}

.potato-soup {
    height: 300px;
    width: auto;
}

.green-beans {
    height: 300px;
    width: auto;
}

li {
    text-align: left;
}

.foodimg {
    margin: 0 auto;
    height: 300px;
    width: auto;
}

h1 {
    text-align: center;
}